.App {
  text-align: center;
  font-family: monospace;
}

.App-header {
  background-image: url("./img/camerahandminified.jpg");
  background-color: #222;
  height: 5em;
  padding: 20px;
  color: white;
  background-size: cover;
  background-position: 0% 40%;
}

.App-title {
  font-size: 1.5em;
  margin-top: 2em;
}

.App-intro {
  font-size: large;
}

.description {
  margin: 1em;
}

@media (min-width: 600px) {
  /* ipad sized and up */
  .App-header {
    background-position: 0% 40%;
    height: 8em;
  }
  .App-title {
    font-size: 2.5em;
  }
}

@media (min-width: 900px) {
  .App-header {
    background-position: 0% 40%;
    height: 15em;
  }
  .App-title {
    font-size: 2.5em;
  }
}

